#title {
    color: rgb(245, 220, 224)
}

.pink { 
    color: rgb(154, 154, 245)
}

h3 {
    color: rgb(255, 203, 61)
}

body {
    background-color: rgb(99, 220, 224);
    color: white;
    padding: 30px;
}

ul {
    border: 1px solid rgb(138, 229, 143);
    padding: 20px;
}