#title {
    color: rgb(245, 220, 224)
}

.pink { 
    color: rgb(154, 154, 245)
}

h3 {
    color: rgb(37, 52, 132)
}

body {
    background-color: rgb(160, 240, 243);
    color: rgb(91, 5, 91);
    padding: 30px;
}

ul {
    border: 1px solid rgb(62, 220, 70);
    padding: 20px;
}